<form class="form-inline">
    <div class="form-group">
        <label for="txtSearch" class="sr-only">Search By Name</label>
        <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
    </div>
    <div class="form-group">
        <select name="ddlScheduleSelection" class="form-control">
            <option value="all">All</option>
            <option value="current">Current</option>
            <option value="past">Past</option>
        </select>
    </div>
    <button type="submit" class="btn btn-blue btn-default">Search</button>
</form>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Posted By</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < 3; i++)
        {
            <tr>
                <td><a href="http://localhost:61986/Announcement/">Raffle Information Update</a></td>
                <td>Announcement</td>
                <td>2/11/2015</td>
                <td>Andrei Morozov</td>
                 <td>New</td>
            </tr>
        }

        @for (var i = 0; i < 2; i++)
        {
            <tr>
                <td><a href="http://localhost:61986/Schedule/">Monthly Schedule Notice</a></td>
                <td>Shedules</td>
                <td>2/11/2015</td>
                <td>Ryan Morris</td>
                <td>Viewed</td>
            </tr>
        }

        <th><a href="#">View More</a></th>

    </tbody>
</table>