<!--- Notice Page which will Hold all the R.S.V.P information-->
@Scripts.Render("~/bundles/bootstrap")
<div class="page-header">
    <h1>Manage Notices</h1>
</div>


<!-- Tabs and partial view to each tab-->
<!-- Nav tabs -->
<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Notice Updates</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">R.S.V.P</a></li>
    </ul>
    <br />

    <div class="row">

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">@Html.Partial("_Notices")</div>
            <div role="tabpanel" class="tab-pane" id="profile">@Html.Partial("_RSVP")</div>
        </div>

    </div>
</div>