<div class="page-header">
    <h1>Schedule</h1>
</div>
<div class="row">
    <div class="col-sm-12  col-md-10 col-md-push-1 ">
        <p>
            Select a calendar / schedule bellow.
        </p>
        <form class="form-inline">
            <div class="form-group">
                <label for="ddlScheduleSelection">Folder</label>
                <select name="ddlScheduleSelection" class="form-control">
                    <option value="organizational">Organizational</option>
                    <option value="staff">Staff</option>
                    <option value="board">Board</option>
                    <option value="volunteer">Volunteer</option>
                </select>
            </div>
        </form>
        <br />
        <br />
        <div id="calendar"></div>
        <br />
    </div>
</div>
