@model IEnumerable<HospiceNiagara.Models.ViewModels.AnnouncementViewModel>

<!-- My Hospice Announcement -->

<div class="row">
    <div class="col-md-3 col-sm-10 col-md-offset-1">

        <!-- Search -->
        @using (Html.BeginForm("AnnouncementFilter", "Announcement", FormMethod.Get))
        {
            <form class="form-inline" role="form">

                <div class="form-group">
                    <input type="text" placeholder="Search Announcements" class="form-control" id="announcementSearchString" name="announcementSearchString">
                </div>
                <input type="submit" value="Filter" class="btn btn-default btn-blue" id="btnAnnouncementSearch" />
            </form>
        }

        <!-- End Search -->

    </div>
</div>
<br/>
<!-- Announcement List Content -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Announcement Title</th>
                    <th>Announcement Date</th>
                    <th>Announcement Description</th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@Html.DisplayFor(i => item.Date)</td>
                        <td>@item.Description</td>                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Announcement List Content-->