
<div class="row">
    <div class="col-md-6">
        <!-- Search -->
        @using (Html.BeginForm("SearchAnnouncements","Announcement", FormMethod.Post))
        {
            



        }
        <!-- End Search -->
       
    </div>
</div>


