
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-1">
        <h1>Death Notices</h1>
        <p>Bellow lies a list of the recently deceased.</p>
        <br />
        <div class="row">
            <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Joe Smith</td>
                            <td> December 16, 2014</td>
                            <td> Community Client</td>
                            <td> Volunteer: Ted Tennant</td>
                        </tr>
                        <tr>
                            <td> Rachel Jones</td>
                            <td> December 14, 2014</td>
                            <td> The Stabler Centre</td>
                            <td> Room 4</td>
                        </tr>
                        <tr>
                            <td> Mary Brown</td>
                            <td> December 8, 2014</td>
                            <td> NN Outreach Team</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Sally Williams</td>
                            <td> November 30, 2014</td>
                            <td> NS Outreach Team</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th><a href="#">Read More</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

