
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-2">
        <h1>Meetings</h1>
        <p>General information tips go here, as long as a brief yet detailed description of how this page works</p>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-10  col-sm-push-1  col-lg-8 col-lg-push-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Posted By : Admin    On : 1/25/15</div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <h4>Holiday Open House</h4>

                                <p>Here is some general information with crutial details about the retreats for Holiday Open House.</p>
                                <div class="col-xs-6">
                                    Related Files
                                    <ul class="list-group list-inline"></ul>
                                </div>
                                <div class="col-xs-6">
                                    Visible To
                                    <ul class="list-group list-inline">
                                        <li class="list-group-item">Admin</li>
                                        <li class="list-group-item">Staff</li>
                                        <li class="list-group-item">Board</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10  col-sm-push-1 col-lg-8 col-lg-push-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Posted By : Admin    On : 2/11/15</div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <h4>Staff Holiday Party </h4>

                                <p>Here is some general information with crutial details about the Staff Holiday Party.</p>
                                <div class="col-xs-6">
                                    Related Files
                                    <ul class="list-group list-inline"></ul>
                                </div>
                                <div class="col-xs-6">
                                    Visible To
                                    <ul class="list-group list-inline">
                                        <li class="list-group-item">Admin</li>
                                        <li class="list-group-item">Staff</li>
                                        <li class="list-group-item">Board</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


