
<br />
<div class="row" id="showAnnounce">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-inline">
            <div class="form-group">
                <label for="txtSearch" class="sr-only">Search By Name</label>
                <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
            </div>
            <div class="form-group">
                <select name="ddlScheduleSelection" class="form-control">
                    <option value="all">All</option>
                    <option value="Name">Name</option>
                    <option value="Location">Location</option>
                    <option value="Notes">Notes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-blue btn-default">Search</button>
        </form>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Notes</th>
                            <th><a href="#" class=" announceAdd btn btn-md   col-md-6 btn-default btn-green"><span class="glyphicon pull-left glyphicon-plus "></span>&nbsp; Add Notice</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quin Jay</td>
                            <td>January 12 2015</td>
                            <td>Stable Center</td>
                            <td> </td>
                            <td>
                                <a href="#" class="btn btn-default btn-md btn-blue col-md-3"><span class="glyphicon pull-left glyphicon-plus "></span>&nbsp; Visible</a>
                                <a href="#" class="announceEdit btn btn-default btn-md btn-blue col-md-3"><span class="glyphicon pull-left glyphicon-plus "></span>&nbsp; Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Quin Jay</td>
                            <td>January 12 2015</td>
                            <td>Stable Center</td>
                            <td> </td>
                            <td>
                                <a href="#" class="btn btn-default btn-md btn-blue col-md-3"><span class="glyphicon pull-left glyphicon-plus "></span>&nbsp; Hidden</a>
                                <a href="#" class="announceEdit btn btn-default btn-md btn-blue col-md-3"><span class="glyphicon pull-left glyphicon-plus "></span>&nbsp; Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row" id="addAnnounce">
    <div class="col-md-10 col-md-offset-1">




        <div class="row">
            <div class="col-md-12">
                <div class="panel-heading"><h1>Add Announcement</h1></div>
                <hr class="hr-style" />
            </div>
            <div class="col-md-6">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Date" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="Date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Location" placeholder="Location">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Note" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Note"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-green btn-default">Submit</button>
                            <a href="http://localhost:61986/Admin/Index#deathsTab#Top" class="announceReset">   <input type="button" class="btn btn-blue btn-default" value="Cancel" /> </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<div class="row" id="editAnnounce">

    <div class="col-md-10 col-md-offset-1">
     


            <div class="row">
                <div class="col-md-12">
                    <div class="panel-heading"><h1>Edit Announcement</h1></div>
                    <hr class="hr-style" />
                </div>
                <div class="col-md-6">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="Name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Date" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="Date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Location" class="col-sm-2 control-label">Location</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Location" placeholder="Location">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Note" class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Note"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="isVisible" class="col-sm-2 control-label">Visible</label>
                            <div class="checkbox col-md-offset-2">
                                <input type="checkbox" name="visible" value="1">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-green btn-default">Submit</button>
                                <a href="http://localhost:61986/Admin/Index#deathsTab#Top" class="announceReset">   <input type="button" class="btn btn-blue btn-default" value="Cancel" /> </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
     
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



