<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-inline">
            <div class="form-group">
                <label for="txtSearch" class="sr-only">Search By Name</label>
                <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
            </div>
            <div class="form-group">
                <select name="ddlScheduleSelection" class="form-control">
                    <option value="all">All</option>
                    <option value="Name">Name</option>
                    <option value="Location">Location</option>
                    <option value="Notes">Notes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Notes</th>
                            <th>State</th>
                            <th><a href="#" class="btn btn-default btn-blue"><span class="glyphicon pull-left glyphicon-plus "></span> Add Notice</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quin Jay</td>
                            <td>January 12 2015</td>
                            <td>Stable Center</td>
                            <td> </td>
                            <td><a href="" class="btn btn-default btn-blue"><span class="glyphicon pull-left glyphicon-plus "></span>Visable</a></td>
                            <td><a href="" class="btn btn-default btn-red"><span class="glyphicon pull-left glyphicon-plus "></span>Edit</a></td>
                        </tr>
                            <tr>
                                <td>Quin Jay</td>
                                <td>January 12 2015</td>
                                <td>Stable Center</td>
                                <td> </td>
                                <td><a href="" class="btn btn-default btn-sm btn-blue"><span class="glyphicon pull-left glyphicon-plus "></span>Visable</a></td>
                                <td><a href="" class="btn btn-default btn-sm btn-red"><span class="glyphicon pull-left glyphicon-plus "></span>Edit</a></td>
                            </tr>
                        <tr>
                            <td>Quin Jay</td>
                            <td>January 12 2015</td>
                            <td>Stable Center</td>
                            <td> </td>
                            <td><a href="" class="btn btn-default btn-xs btn-blue"><span class="glyphicon pull-left glyphicon-plus "></span>Visable</a></td>
                            <td><a href="" class="btn btn-default btn-xs btn-red"><span class="glyphicon pull-left glyphicon-plus "></span>Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

