<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("Index", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-md-4">
                <label for="folder">Folder</label>
                <select name="folders" class="form-control">
                    <option value="organizational">Organizational</option>
                    <option value="staff">Staff</option>
                    <option value="board">Board</option>
                    <option value="volunteer">Volunteer</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="fileDescription" class="control-label">Description</label>
                <input type="text" class="form-control" name="fileDescription" />
            </div>
            <div class="col-md-4">
                <label class="control-label">Select File</label>
                <input type="file" id="input-1a" class="file" name="FileUpload1" /><br />
            </div>
        }

        <br />
        <br />

    </div>
</div>


