
<form class="form-inline">
    <div class="form-group">
        <label for="txtSearch" class="sr-only">Search By Name</label>
        <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
    </div>
    <div class="form-group">
        <select name="ddlScheduleSelection" class="form-control">
            <option value="all">All</option>
            <option value="current">Organizational Resources</option>
            <option value="past">Board Resources</option>
            <option value="past">Staff Resources</option>
            <option value="past">Volunteer Resources</option>
        </select>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("Index", "File", FormMethod.Get))
        {
            <input type="submit" class="btn btn-blue btn-default" value="Filter" />
        }
    </div>
</form>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Date Of</th>
            <th>Option</th>
            <th>Current Status</th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < 2; i++)
        {
            <tr>
                <td>Meet n Greet</td>
                <td>Stabler Movie Night</td>
                <td>2/11/2015</td>
                <td>
                    <a href="#" class="btn btn-green btn-default col-md-3"><span class="glyphicon glyphicon-check"></span> Accept </a>
                    <div class="col-md-1"></div>
                    <!--<a href="#" class="btn btn-red btn-default col-md-3"><span class="glyphicon glyphicon-remove"></span> Decline</a>-->
                </td>
                <td>
                    <a href="#" class="btn btn-red btn-default col-md-4">Not Attending</a>
                </td>
            </tr>
        }
        @for (var i = 0; i < 2; i++)
        {
            <tr>
                <td>Event</td>
                <td>Spring Bake Sale</td>
                <td>2/11/2015</td>
                <td>
                    <!--<a href="#" class="btn btn-green btn-default col-md-3"><span class="glyphicon glyphicon-check"></span> Accpet </a>
                    <div class="col-md-1"></div> -->
                    <a href="#" class="btn btn-red btn-default col-md-3"><span class="glyphicon glyphicon-remove"></span> Decline</a>
                </td>
                <td>
                    <a href="#" class="btn btn-green btn-default col-md-4">Attending</a>
                </td>
            </tr>
        }
        @for (var i = 0; i < 1; i++)
        {
            <tr>
                <td>Event</td>
                <td>Spring Bake Sale</td>
                <td>2/11/2015</td>
                <td>
                    <a href="#" class="btn btn-green btn-default col-md-3"><span class="glyphicon glyphicon-check"></span> Accept </a>
                    <div class="col-md-1"></div>
                    <!--<a href="#" class="btn btn-red btn-default col-md-3"><span class="glyphicon glyphicon-remove"></span> Decline</a>-->
                </td>
                <td>
                    <a href="#" class="btn btn-red btn-default col-md-4">Not Attending</a>
                </td>
            </tr>
        }
        @for (var i = 0; i < 2; i++)
        {
            <tr>
                <td>Meet n Greet</td>
                <td>Stabler Movie Night</td>
                <td>2/11/2015</td>
                <td>
                    <!--<a href="#" class="btn btn-green btn-default col-md-3"><span class="glyphicon glyphicon-check"></span> Accpet </a>
                    <div class="col-md-1"></div> -->
                    <a href="#" class="btn btn-red btn-default col-md-3"><span class="glyphicon glyphicon-remove"></span> Decline</a>
                </td>
                <td>
                    <a href="#" class="btn btn-green btn-default col-md-4">Attending</a>
                </td>
            </tr>
        }

    <th><a href="#">View Past RSVPs</a></th>

    </tbody>
</table>
