@model IEnumerable<HospiceNiagara.Models.MemberViewModel>
<div class="page-header">
    <h1>Admin Control Panel</h1>
</div>

<!-- Nav tabs -->
<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">User Management</a></li>
        <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">Resource Management</a></li>
    </ul>
    <br />

    <div class="row">

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">@Html.Partial("_MemberList")</div>
            <div role="tabpanel" class="tab-pane" id="file">@Html.Partial("_File", new List<HospiceNiagara.Models.FileViewModel>())</div>
        </div>

    </div>
</div>






