.container-fluid {
    padding:0px;
}

.page-content {
    color:#fff;
    min-height:720px;
}

.panel-default > .panel-heading {
    background-color:#4da14e;
    color:white;
}

.panel {
    color:#000;
    
}

.widget-icon-right {
    float:right;
}

footer {
    position:relative;
    bottom:0px;

    height:150px;
    width:inherit;

    background-color:#000;
    color:white;

    padding:20px;
}

.wrapper {
    padding: 2%;
    color: #000;
    overflow:auto;
    background-color:#fff;
    height:100%;
    margin-top:50px;
}

html,body
{
    height:100%;

}


.container {
    height:100%;
}


a {
    color:#2d52b7;
}

a:hover {
    color:#1a3275;
}

/*Fix Modal Movement*/
.modal-open[style] {
padding-right: 0px !important;
}


/****************************************
    Button Colors
******************************************/

.btn-red,.btn-red:focus {
    background-color:#ad2b2b;
    color:#fff;
}

.btn-red:hover {
    background-color:#721919;
    color:#fff;
}

.btn-blue {
    background-color:#2d52b7;
    color:white;
}

.btn-green, .btn-green:focus{
    background-color:#9ACD32;
    color:#000;
}

.btn-green:hover {
    background-color:#6e9324;
}

.btn {
    transition:520ms;
}

.btn-blue:hover, .btn-blue:focus {
    background-color:#1a3275;
    color:white;
}

.btn-primary, 
.btn-primary:hover, .btn-primary:focus {
    color:black;
}

.btn-notice {
    background-color:#e61717;
    color:white;
}

/*End Of Button Section*/

a:link.showfile{
    text-decoration: none;
}

a:visited.showfile {
    text-decoration: none;
}

a:hover.showfile {
    text-decoration: none;
}

a:active.showfile {
    text-decoration: none;
}

.hr-style {
   height:2px;
   background-color:#1a3275;
}

.navbar {
    border-bottom: none;
}

/*Fix Caret*/
.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a .caret
 {
    border-top-color:#fff;
    border-bottom-color:#000;
}

.navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color:#fff;
}

.navbar {
    margin-bottom:0px;
}



.btn-admin span {
    display:block;
    clear:both;
    font-size:4em;
    margin-bottom:20px;
    color:#2d52b7;
    transition:530ms;
}

.btn-admin:hover span {
    color:#2090ff;
}

.date-format {
    display:block;
    margin-bottom:20px;
    color:#808080;
    font-size:8pt;
    padding-left:18px;
}

.footer {
    background-color:black;
    color:white;
    margin:0px;
    padding:40px;
}

.facebook-color {
    color:#3b5998
}

.twitter-color{
    color:#4099FF
}

.linked-color {
    color:#4875B4
}

.website-footer {
    text-decoration:underline;
    color:#4099FF;
}

body {
   font-family: 'Roboto', sans-serif;
}

.page-header {
    border-bottom:2px solid #3b5998;
}

.nav-tabs {
    font-weight:bolder;
    font-size:large;
}


.tab-content{
    overflow:hidden;
}
