<div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Recent Announcements <span class="glyphicon pull-right glyphicon-bell"></span></div>

            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Clearance ! </a><span class="date-format">Posted By: Donald - 02/22/2015</span></li>
                    <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> TimeTable Changes, Please View changes</a><span class="date-format">Posted By: Donald - 02/19/2015</span></li>
                    <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> New CIPSA Oppertunities</a><span class="date-format">Posted By: Donald - 02/16/2015</span></li>
                    <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Movie Night upcoming</a><span class="date-format">Posted By: Donald - 02/05/2015</span></li>
                </ul>
            </div>
        </div>
    </div>

