<div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Recent Announcements <span class="glyphicon pull-right glyphicon-bell"></span></div>

            <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="list-group-item-heading">Click Link For Details</li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Clearance ! </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> TimeTable Changes, Please View changes</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> New CIPSA Oppertunities</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Movie Night upcoming</a></li>
                </ul>
            </div>
        </div>
    </div>

