<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">Death Notices <span class="glyphicon pull-right glyphicon-bell"></span></div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="list-group-item-heading">Click Link For Details</li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Robert Mikale </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Bob Smith</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Jenna kellu</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Morgan Numan</a></li>
            </ul>
        </div>
    </div>
</div>


