<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">Events Upcoming <span class="glyphicon pull-right glyphicon-star-empty"></span></div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li><a href="http://localhost:61986/Announcement/Index#eventsTab#Top"><span class="glyphicon glyphicon-chevron-right"></span> Open House For Guests</a><span class="date-format">Posted By: Ryan - 02/22/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/Index#eventsTab#Top"><span class="glyphicon glyphicon-chevron-right"></span> New Meal Plans Up Coming</a><span class="date-format">Posted By: Donal - 02/20/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/Index#eventsTab#Top"><span class="glyphicon glyphicon-chevron-right"></span> Regular Hours Operation Changing</a><span class="date-format">Posted By: Andrei - 02/02/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/Index#eventsTab#Top"><span class="glyphicon glyphicon-chevron-right"></span> Roads Closed near Hospice Niagara Take Route D2</a><span class="date-format">Posted By: Jordan - 02/01/2015</span></li>
            </ul>
        </div>
    </div>
</div>

