<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">Events Upcoming <span class="glyphicon pull-right glyphicon-star-empty"></span></div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="list-group-item-heading">Click Link For Details</li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Open House For Guests</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> New Meal Plans Up Coming</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Regular Hours Operation Changing</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Roads Closed near Hospice Niagara Take Route D2</a></li>
            </ul>
        </div>
    </div>
</div>

