<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">Meetings Upcoming <span class="glyphicon pull-right glyphicon-bell"></span></div>

        <div class="panel-body">
            <ul class="list-unstyled meeting-format">
                <li class="list-group-item-heading ">Click Link For Details and to <b>R.S.V.P</b></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Power House Meeting</a><span class="text-info"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> New Meal Plans Up Coming</a><span class="text-info"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Regular Hours Operation Changing</a><span class="text-info"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Roads Closed near Hospice Niagara Take Route D2</a><span class="text-info"> Posted By: Andrei Morozov - 01/01/2015</span></li>
            </ul>
        </div>
    </div>
</div>
