<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">Meetings Upcoming <span class="glyphicon pull-right glyphicon-bell"></span></div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="list-group-item-heading ">Click Link For Details and to <b>R.S.V.P</b></li>
                <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Volunteer Retreat </a><span class="date-format"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Staff Holiday Party </a><span class="date-format"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Holiday Open House</a><span class="date-format"> Posted By: Andrei Morozov - 01/01/2015</span></li>
                <li><a href="http://localhost:61986/Announcement/"><span class="glyphicon glyphicon-chevron-right"></span> Board Meeting</a><span class="date-format"> Posted By: Andrei Morozov - 01/01/2015</span></li>
            </ul>
        </div>
    </div>
</div>
