<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Calendar <span class="glyphicon pull-right glyphicon-calendar"></span></div>
        <div class="panel-body">
            <div id="calendar"></div>
        </div>
    </div>

</div>


