<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Calendar</h4></div>

        <div class="panel-body">

            <h3>Mini Calendar</h3>

            <a class="btn btn-default btn-blue" href="/Files/Index">
                <span class="glyphicon glyphicon-plus-sign"></span> Go To Meetings!
            </a>
        </div>
    </div>

</div>


