<div class="col-lg-5 col-md-5 col-xs-5">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Calendar</h4></div>

        <div class="panel-body">

            <h3>Mini Calendar</h3>
            <div id="calendar"></div>
        </div>
    </div>

</div>


