<div class="col-md-7 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading">Calendar <span class="glyphicon pull-right glyphicon-calendar"></span></div>
      <div class="panel-body">
            <ul class="list-unstyled">
                <li><a href="http://localhost:61986/Schedule/"><span class="glyphicon glyphicon-chevron-right"></span> View My Schedule</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

</div>


