@model HospiceNiagara.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<!-- They way the css is set up this is the esiest Fix White Screen-->
<link href="~/Content/login-custom.css" rel="stylesheet"/>

<div class="container">
<div class="login">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Forgotten Password</h4><br />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-Mail" })
    </div>
    
    
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default btn-blue btn-login" value="Email Link" />
            <a href="/Account/Login" class="btn btn-login btn-default btn-blue">Back To Login</a>
        </div>
    </div>
}
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
