<div class="page-header">
    <h1>Contact</h1>    
</div>

<div class="row">
    <div class="col-xs-12">
        
        <br />
        <div class="row">
            <h3 class="text-center">Hospice Niagara - The Stabler Centre</h3>
            <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
            <h5 class="text-center">Tel: 905-984-8766      Admin Fax: 905-934-9430     Nurse Fax 905-646-3860</h5>
            <br />
            <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">      
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Staff Member</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Office Cell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Jessica Estabrooks</a></td>
                        <td> Finance and Operations Manager</td>
                        <td> jestabrooks@hospiceniagara.ca</td>
                        <td> x 238</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Kate Murrell</a></td>
                        <td> Administrative Assistant</td>
                        <td> kmurrell@hospiceniagara.ca</td>
                        <td> x 222</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Carol Nagy</a></td>
                        <td> Executive Director</td>
                        <td> cnagy@hospiceniagara.ca</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>

        <div class="row">
            <h3 class="text-center">Hospice Niagara - The Stabler Centre</h3>
            <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
            <h5 class="text-center">Tel: 905-984-8766      Admin Fax: 905-934-9430     Nurse Fax 905-646-3860</h5>
            <br />
            <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Staff Member</th>
                            <th>Position</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Office Cell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Jessica Estabrooks</a></td>
                            <td> Finance and Operations Manager</td>
                            <td> jestabrooks@hospiceniagara.ca</td>
                            <td> x 238</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Kate Murrell</a></td>
                            <td> Administrative Assistant</td>
                            <td> kmurrell@hospiceniagara.ca</td>
                            <td> x 222</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Carol Nagy</a></td>
                            <td> Executive Director</td>
                            <td> cnagy@hospiceniagara.ca</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3 class="text-center">Hospice Niagara - The Stabler Centre</h3>
            <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
            <h5 class="text-center">Tel: 905-984-8766      Admin Fax: 905-934-9430     Nurse Fax 905-646-3860</h5>
            <br />
            <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Staff Member</th>
                            <th>Position</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Office Cell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Jessica Estabrooks</a></td>
                            <td> Finance and Operations Manager</td>
                            <td> jestabrooks@hospiceniagara.ca</td>
                            <td> x 238</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Kate Murrell</a></td>
                            <td> Administrative Assistant</td>
                            <td> kmurrell@hospiceniagara.ca</td>
                            <td> x 222</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Carol Nagy</a></td>
                            <td> Executive Director</td>
                            <td> cnagy@hospiceniagara.ca</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<br />

        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myDiscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Jessica Estabrooks</h3>
            </div>
            <div class="modal-body">
               <h4>Areas of Responsibility:</h4>
                <ul>
                    <li>Leadership Team Member</li>
                    <li>Finance Lead</li>
                    <li>IT Lead</li>
                    <li>Facilities Lead</li>
                    <li>Administration Lead</li>
                    <li>
                        Coordinator of Volunteers:
                        <ul>
                            <li>Scheduling of Welcome Desk, Residential and Kitchen Helper volunteer roles</li>
                            <li>Communication, recognition and ongoing support of all Volunteers</li>
                            <li>Supervises Administrative Assistant, Financial Associate, Chef and Maintenance contract</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>