<div class="page-header">
    <h1>Contacts</h1>    
</div>

<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#stablerPTab" aria-controls="stablerPTab" role="tab" data-toggle="tab">Stable Center Personnel</a></li>
        <li role="presentation"><a href="#stablerLTab" aria-controls="stablerLTab" role="tab" data-toggle="tab">Stable Center Locations</a></li>
        <li role="presentation"><a href="#nnTab" aria-controls="nnTab" role="tab" data-toggle="tab">Niagara North Shared Care</a></li>
        <li role="presentation"><a href="#nsTab" aria-controls="nsTab" role="tab" data-toggle="tab">Niagara South Shared Care</a></li>
    </ul>
    <br />

    <div class="row">

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="stablerPTab">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <h3 class="text-center">Hospice Niagara - The Stabler Centre</h3>
                            <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
                            <h5 class="text-center">Tel: 905-984-8766      Admin Fax: 905-934-9430     Nurse Fax 905-646-3860</h5>
                            <br />
                            <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Staff Member</th>
                                            <th>Position</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Office Cell</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Alicia Merry</a></td>
                                            <td> Community Relations Manager</td>
                                            <td></td>
                                            <td> x 230</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Andrea Crompton</a></td>
                                            <td> Community Relations Associate</td>
                                            <td></td>
                                            <td> x 231</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Barbara Cowell</a></td>
                                            <td> Executive Assistant</td>
                                            <td></td>
                                            <td> x 223</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Barb Nolan</a></td>
                                            <td> Day Hospice Coordinator</td>
                                            <td></td>
                                            <td> x 270</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Carol Nagy</a></td>
                                            <td> Executive Director</td>
                                            <td> cnagy@hospiceniagara.ca</td>
                                            <td> x 255</td>
                                            <td>289-407-8197</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Diane Fahlman</a></td>
                                            <td> Legacy Associate</td>
                                            <td></td>
                                            <td> x 250</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Diane Reid</a></td>
                                            <td> Palliative Care Consultant</td>
                                            <td></td>
                                            <td> x 232</td>
                                            <td>905-515-6276</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Dorothy Hunse</a></td>
                                            <td> Chaplain/Psychosocial-Spiritual Advisor</td>
                                            <td></td>
                                            <td> x 249</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Dr. Brian Kerley</a></td>
                                            <td> Medical Director</td>
                                            <td></td>
                                            <td> x 234</td>
                                            <td>905-641-5684</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Jessica Estabrooks</a></td>
                                            <td> Finance and Operations Manager</td>
                                            <td> jestabrooks@hospiceniagara.ca</td>
                                            <td> x 238</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Jim Horsthuis</a></td>
                                            <td> Community Programs Manager</td>
                                            <td></td>
                                            <td> x 229</td>
                                            <td>905-321-6948</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Kate Murrell</a></td>
                                            <td> Administrative Assistant</td>
                                            <td> kmurrell@hospiceniagara.ca</td>
                                            <td> x 222</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">13</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Kelly Vlaar</a></td>
                                            <td> Human Resources, Quality Improvement Manager</td>
                                            <td></td>
                                            <td> x 269</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">14</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Patrick Engel</a></td>
                                            <td> Chef</td>
                                            <td></td>
                                            <td> x 241</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">15</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Laurie Straw</a></td>
                                            <td> Director of Care</td>
                                            <td></td>
                                            <td> x 247</td>
                                            <td>905-658-5867</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">16</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Margie Reid</a></td>
                                            <td> Coordinator of Volunteer Development</td>
                                            <td></td>
                                            <td> x 224</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">17</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Marnie Engel</a></td>
                                            <td> Community Programs Volunteer Coordinator</td>
                                            <td></td>
                                            <td> x 228</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">18</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Melissa DeBeau</a></td>
                                            <td> Financial Administrative Associate</td>
                                            <td></td>
                                            <td> x 235</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">19</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Melissa Penner</a></td>
                                            <td> Bereavement Advisor</td>
                                            <td></td>
                                            <td> x 233</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">20</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Sue Shipley</a></td>
                                            <td> Palliative Care Consultant</td>
                                            <td></td>
                                            <td> x 301</td>
                                            <td>289-968-4068</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">21</th>
                                            <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Dennis Penner</a></td>
                                            <td> Maintenance</td>
                                            <td></td>
                                            <td> x 238</td>
                                            <td>905-328-2420</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                    <div role="tabpanel" class="tab-pane" id="stablerLTab">

                                <div class="row">
                                    <h3 class="text-center">Hospice Niagara - The Stabler Centre</h3>
                                    <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
                                    <h5 class="text-center">Tel: 905-984-8766      Admin Fax: 905-934-9430     Nurse Fax 905-646-3860</h5>
                                    <br />
                                        <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Location</th>
                                                        <th>Phone / Extension</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>5 Car Draw Hotline</td>
                                                        <td> x 240</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Administrative Student</td>
                                                        <td> x 243</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Volunteer Desk in Admin</td>
                                                        <td> x 236</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Community Relations Student</td>
                                                        <td> x 239</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Day Hospice Conf. Phone</td>
                                                        <td> x 242</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Day Hospice</td>
                                                        <td> x 400</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">7</th>
                                                        <td>Education</td>
                                                        <td> x 222</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">8</th>
                                                        <td>Family Room</td>
                                                        <td> x 261</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">9</th>
                                                        <td>Lower Level Meeting Room</td>
                                                        <td> x 237</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">10</th>
                                                        <td>Nurses Station</td>
                                                        <td> x 244, 246</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">11</th>
                                                        <td>RN on call</td>
                                                        <td>289-407-8421</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">12</th>
                                                        <td>Residential Staff Room</td>
                                                        <td> x 262</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">13</th>
                                                        <td>Welcome Desk</td>
                                                        <td> x 221</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                        </div>
                            <div role="tabpanel" class="tab-pane" id="nnTab">

                                <div class="row">
                                    <h3 class="text-center">Niagara North Shared Care Palliative Care Team</h3>
                                    <h5 class="text-center">403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
                                    <h5 class="text-center">Tel: 905-984-8766     Fax: 905-934-9430</h5>
                                    <br />
                                    <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Staff Member</th>
                                                    <th>Position</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Office Cell</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Carma Pollock</a></td>
                                                    <td> NNPCT Nurse Clinician</td>
                                                    <td></td>
                                                    <td> x 264</td>
                                                    <td>905-329-5428</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Cheryl Rothwell</a></td>
                                                    <td> Clinical Navigator and Client Service Coordinator</td>
                                                    <td></td>
                                                    <td> x 263</td>
                                                    <td>289-241-9168</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Geoff Straw</a></td>
                                                    <td> Psychosocial/Bereavement Clinician</td>
                                                    <td></td>
                                                    <td> x 226</td>
                                                    <td>289-241-4805</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Dr. Galina Arvinte</a></td>
                                                    <td> NNPCT Physician</td>
                                                    <td></td>
                                                    <td> x 263</td>
                                                    <td>905-708-3314</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                             <div role="tabpanel" class="tab-pane" id="nsTab">
                                 <div class="row">
                                     <h3 class="text-center">Niagara South Shared Care Palliative Care Team</h3>
                                     <h5 class="text-center"> 403 Ontario Street, Unit 2, St. Catharines, L2N 1L5 </h5>
                                     <h5 class="text-center">Tel: 905-735-1701      Fax: 905-735-1703</h5>
                                     <br />
                                     <div class="panel panel-default col-xs-12 col-lg-10 col-lg-push-1">
                                         <table class="table">
                                             <thead>
                                                 <tr>
                                                     <th>#</th>
                                                     <th>Staff Member</th>
                                                     <th>Position</th>
                                                     <th>Email</th>
                                                     <th>Phone</th>
                                                     <th>Office Cell</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <th scope="row">1</th>
                                                     <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Clare Braun</a></td>
                                                     <td> Psychosocial/Bereavement Clinician</td>
                                                     <td></td>
                                                     <td> 735-1701</td>
                                                     <td>289-929-4570</td>
                                                 </tr>
                                                 <tr>
                                                     <th scope="row">2</th>
                                                     <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Dr. Debbie Dooler</a></td>
                                                     <td> NSPCT Physician</td>
                                                     <td></td>
                                                     <td> 735-1701</td>
                                                     <td>905-380-6930</td>
                                                 </tr>
                                                 <tr>
                                                     <th scope="row">3</th>
                                                     <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Maria Becker</a></td>
                                                     <td> Psycho-Spiritual Clinician</td>
                                                     <td></td>
                                                     <td>735-1701</td>
                                                     <td>289-929-4691</td>
                                                 </tr>
                                                 <tr>
                                                     <th scope="row">4</th>
                                                     <td> <a href="#" data-toggle="modal" data-target="#myDiscription">Susan DeCicco</a></td>
                                                     <td> Clinical Navigator and Client Service Coordinator</td>
                                                     <td></td>
                                                     <td>735-1701</td>
                                                     <td>289-929-4319</td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                        </div>

                    </div>
</div>
    </div>
        
 

<!-- Modal -->
<div class="modal fade" id="myDiscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Jessica Estabrooks</h3>
            </div>
            <div class="modal-body">
               <h4>Areas of Responsibility:</h4>
                <ul>
                    <li>Leadership Team Member</li>
                    <li>Finance Lead</li>
                    <li>IT Lead</li>
                    <li>Facilities Lead</li>
                    <li>Administration Lead</li>
                    <li>
                        Coordinator of Volunteers:
                        <ul>
                            <li>Scheduling of Welcome Desk, Residential and Kitchen Helper volunteer roles</li>
                            <li>Communication, recognition and ongoing support of all Volunteers</li>
                            <li>Supervises Administrative Assistant, Financial Associate, Chef and Maintenance contract</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>