<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index">Hospice Niagara</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">Home</a></li>
                @if (User.IsInRole("Admin")) { 
                <li><a href="/Admin/Index">Admin</a></li>
                }
                <li><a href="/Announcement/Index">My Hospice</a></li>
                <li><a href="/Contact/Index">Contacts</a></li>
                <li><a href="/File/Index">Resources</a></li>
                <li><a href="/Schedule/Index">Schedule</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span> 
                        <span class="caret caret-white"></span>
                    </a>            
                    <!-- Settings ? Profile ? Logout-->
                    <ul class="dropdown-menu" role="menu">
                        <li class="col-md-12"><img class="img-responsive" src="http://placehold.it/150x150"></li>
                        <li><div class="divider"></div></li>
                        <li><a class="text-right" href="/Profile/Notice"><span class="pull-left btn-notice badge">10</span>Notices</a></li>
                        <li><a class="text-right" href="@Url.Action("Index","Profile")"><span class="glyphicon glyphicon-pencil pull-left"></span> Profile</a></li>
                        <li><a class="text-right" href="/Account/LogOff"><span class="glyphicon pull-left glyphicon-log-out "></span> Logout</a></li>
                        
                    </ul>  
                </li>                    
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>